<nav class="navbar navbar-expand-md navbar-dark bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/pizzas"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
          <br>Pizza
        </a>
      </div>
      <div class="col-sm">
        Button 2
      </div>
      <div class="col-sm">
        Button 3
      </div>
      <div class="col-sm">
        Button 4
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
