<div class="jumbotron bg" style="hight:700px; padding-top: 150px;">

  <div class="container">
    <div class="row align-items-center">
      <div class="col">

        <div class="col-md-6 text-light">
          <h1 class="display-5">Viața merge mai departe,</h1>
          <h1 class="display-5">cu o pizza ca la carte.</h1>
        </div>
        <div class="col-sm-2">
          <a href="/pizzas"
             role="button"
             button type="button" class="btn btn-success">
            <br><strong>Comanda!</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



